<?php

// Application Passwords Plugin Options
// ------------------------------------
// PEAR database DSN for performing the query.
$config['application_passwords_db_dsn'] = 'mysql://user:password@localhost/table';

// The SQL queries used to manage application-specific passwords.
// The query can contain the following macros that will be expanded as follows:
//      %p is replaced with the plaintext new password
//      %c is replaced with the crypt version of the new password, MD5 if available
//         otherwise DES. More hash function can be enabled using the password_crypt_hash 
//         configuration parameter.
//      %D is replaced with the dovecotpw-crypted version of the new password
//      %n is replaced with the hashed version of the new password
//      %u is replaced with the username (from the session info)
//      %l is replaced with the local part of the username
//         (in case the username is an email address)
//      %d is replaced with the domain part of the username
//         (in case the username is an email address)

// SQL query for displaying list of applications for which a password is set
$config['application_passwords_select_query'] = 'SELECT application, created FROM vmail.applications WHERE username=%l AND domain=%d';

// SQL query for storing new application-specific password
$config['application_passwords_insert_query'] = 'INSERT INTO vmail.applications (username, domain, application, password) VALUES (%l, %d, %a, SHA2(%p,"512"))';

// SQL query for deleting an application-specific password
$config['application_passwords_delete_query'] = 'DELETE FROM vmail.applications WHERE username=%l AND domain=%d AND application=%a';

// By default the crypt() function which is used to create the '%c' 
// parameter uses the md5 algorithm. To use different algorithms 
// you can choose between: des, md5, blowfish, sha256, sha512.
// Before using other hash functions than des or md5 please make sure
// your operating system supports the other hash functions.
$config['application_passwords_crypt_hash'] = 'md5';

// By default domains in variables are using unicode.
// Enable this option to use punycoded names
$config['application_passwords_idn_ascii'] = false;

// Path for dovecotpw (if not in $PATH)
$config['application_passwords_dovecotpw'] = '/usr/bin/doveadm pw';

// Dovecot method (dovecotpw -s 'method')
$config['application_passwords_dovecotpw_method'] = 'SSHA512';

// Enables use of password with crypt method prefix in %D, e.g. {MD5}$1$LUiMYWqx$fEkg/ggr/L6Mb2X7be4i1/
$config['application_passwords_dovecotpw_with_method'] = true;

// Using a password hash for %n and %q variables.
// Determine which hashing algorithm should be used to generate
// the hashed new and current password for using them within the
// SQL query. Requires PHP's 'hash' extension.
$config['application_passwords_hash_algorithm'] = 'sha1';

// You can also decide whether the hash should be provided
// as hex string or in base64 encoded format.
$config['application_passwords_hash_base64'] = false;
